/* Linked to index.html */

header {
    width: 1360px;
    overflow: hidden;
    background-color: blue;
}

header nav {
    background-color: red;
    display: flex;
    padding: 20px 60px;
    justify-content: space-between;
}

header nav img {
    width: 200px;
}

#links-navbar {
    background-color: #fff;
    
}

#links-navbar ul{
    display: flex;
    list-style-type: none;
}

#links-navbar ul li ul {
    display: none;
}

div#go-login-button ul {
  display: none;
}
