/* Linked to index.html */

header {
    width: 1360px;
    overflow: hidden;
}

header nav {
    background-color: #fff;
    display: flex;
    padding: 20px 60px;
    justify-content: space-between;
}

header nav img {
    width: 200px;
}

div#links-navbar {
    background-color: #fff;
    width: 400px;
}

div#links-navbar ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 18px;
}

div#links-navbar ul li ul {
    display: none;
}

div#go-login-button {
  background-color: #0474c9;
  color: #fff;
  width: 200px;
  display: flex;
  justify-content: center;
  padding: 5px 20px;
  border-radius: 5px;
}
div#go-login-button ul {
  display: none;
  transition: width 2s;
  list-style-type: none;
}


div#go-login-button:hover ul {
  display: block;
  position: absolute;
  background-color: #0364b8;
  padding 20px;
}

div#go-login-button ul li a{
  text-decoration: none;
  color: #fff;
}
