/* linked to index.html */

main {
  background-color: green;
  width: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

main h2 {
  position: absolute;
  display: flex;
  text-align: left;
}
main img {
  max-width: 1600px;
}
