/* linked to login.html */
body {
  background-color: #f0f0f0;
}
div#container {
  background-color: #fff;
  width: 400px;
  margin: 200px auto;
  padding: 60px 30px;
  text-align: center;
  box-shadow: 
}

div#container img {
  width: 300px;
}
